*{
    box-sizing: border-box;
}
table,tr,td{
    border: 1px dashed black;
    border-collapse: collapse;
    table-layout: fixed;

}

tr,td{
    white-space: nowrap;
    text-align: left;
    width: 100%;
    font-size: 3vw;
    color: red;
}
a:link{
    color: red;
    text-decoration: underline;
}
